server:
  port: 8888

spring:
  application:
    name: gateway  
  cloud:
    gateway:
      routes:
      - id: employee
        uri: lb://employee
        predicates:
        - Path=/employee/**   

info:
  app:
    name: ${spring.application.name}

eureka:
  client:
    registerWithEureka: true
    serviceUrl: 
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
    healthcheck:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include:
          - mappings
          - env
          - health
          - info
          
          